rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow read: if true;
      allow create: if request.resource.data.name is string 
                    && request.resource.data.name.matches('^[a-zA-Z ]+$')
                    && request.resource.data.message is string 
                    && request.resource.data.message.size() > 0 
                    && request.resource.data.message.size() <= 1000;
      allow update: if false;
      allow delete: if true;
    }
    match /stats/{docId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }
  }
}
